.form-container{
    margin: 4rem 6rem;
    color: black;

}
.form-container form{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;

}
.form-container input{
   
    padding:  1rem;
    margin-bottom: 2rem;
    border-radius: 3rem;
    border: 1px solid black;
}
.form-container button{
    display: inline;
}